{% extends 'account/base_entrance.html' %}
{% load i18n %}

{% block head_title %}{% translate 'Invitation not valid' %}{% endblock head_title %}

{% block content %}
    <h1>{% translate 'Invitation not valid' %}</h1>
    <p>{% blocktranslate %}This invitation link doesn't work: it has expired or has already been used. Ask the person who invited you for a new one.{% endblocktranslate %}</p>
    {% url 'account_login' as login_url %}
    <p>{% blocktranslate %}If you already have an account, <a href="{{ login_url }}">sign in</a>.{% endblocktranslate %}</p>
{% endblock content %}
