{#{% extends '_base.html' %}#}
{#{% load crispy_forms_tags %}#}
{##}
{##}
{#{% block title %}Set Password{% endblock title %}#}
{##}
{#{% block content %}#}
{#<form method="POST" action="" class="password_set">#}
{#  {% csrf_token %}#}
{#    {{ form|crispy }}#}
{#  {% bootstrap_form password_set_form %} #}
{#  <div class="form-actions">#}
{#    <button class="btn btn-primary" type="submit" name="action" value="{% trans "Set Password" %}"/>Change Password</button>#}
{#  </div>#}
{##}
{#</form>#}
{#{% endblock content %}#}

{% extends "_base.html" %}

{% load crispy_forms_tags %}

{% block title %}Set Password{% endblock title %}

{% block content %}
    <h1>Set password</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="action" value='Set Password' />
    </form>
{% endblock %}