[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytz = "==2019.2"
sqlparse = "==0.3.0"
Django = "==3.0.7"
django-crispy-forms = "*"
django-allauth = "*"
django-debug-toolbar = "*"
django-redis = "==4.12.1"
psycopg2-binary = "*"
django-admin-honeypot = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"
djangorestframework = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "==2.8.1"
django-rest-auth = "*"
coreapi = "*"
django-lifecycle = "*"
martor="==1.4.9"
sentry-sdk="==0.14.3"
django-permissions-auditor = "*"
pyyaml = "*"
pytest-xdist = "*"

[requires]
python_version = "3.8"
