/* The thread page: Markdown in posts */

blockquote {
    padding: 10px 20px;
    font-weight: 300;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 8px solid hsla(0, 0%, 50%, .075);
    border-left-width: 10px;
    margin-bottom: 20px;
}

:not(pre) > code {
    font-size: .8em;
    white-space: nowrap;
    color: #c25;
    padding: 1px 3px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 3px
}

body {
    font-size: 1.1em;
}
