{% extends '_base.html' %}
{% load signup %}

{% block title %}Wildvasa{% endblock title %}

{% comment %}
The home page for visitors: the name and the way in. Members get the forum list here
(pages.views.HomePageView).
{% endcomment %}
{% block content %}
    <div class="door">
        <h1 class="door__name">Wildvasa</h1>
        <p class="door__text">A private forum. Sign in to read and write.</p>
        <p>
            <a class="button" href="{% url 'account_login' %}">Sign in</a>
            {% signup_is_open as signup_open %}
            {% if signup_open %}
                <a class="button button--quiet" href="{% url 'account_signup' %}">Sign up</a>
            {% endif %}
        </p>
    </div>
{% endblock content %}
