{% load when %}
{% comment %}
One thread in a list: the title and who started it, the number of replies, and the latest
reply. Pass "thread" from forums.activity (post_count, last_activity, last_replier);
"show_forum" adds the forum's name, "show_actions" the edit and delete links for the
thread's author and for moderators.
{% endcomment %}
<li class="row thread-row">
    <div class="thread-row__main">
        <a class="row__title" href="{% url 'thread_detail' thread.id %}">{{ thread.title }}</a>
        <p class="row__meta">
            {% include 'forums/_person.html' with person=thread.user %}
            <span>
                {% if show_forum %}in <a href="{% url 'forum_detail' thread.forum_id %}">{{ thread.forum.title }}</a>,{% endif %}
                started {{ thread.added|when }}
            </span>
        </p>
        {% if show_actions %}
            {% if thread.user == user or perms.forums.change_thread or perms.forums.delete_thread %}
                <p class="row__actions">
                    {% if thread.user == user or perms.forums.change_thread %}
                        <a href="{% url 'thread_update' thread.id %}">Edit</a>
                    {% endif %}
                    {% if thread.user == user or perms.forums.delete_thread %}
                        <a href="{% url 'thread_delete' thread.forum_id thread.id %}">Delete</a>
                    {% endif %}
                </p>
            {% endif %}
        {% endif %}
    </div>
    <p class="thread-row__count"><strong>{{ thread.post_count }}</strong> repl{{ thread.post_count|pluralize:"y,ies" }}</p>
    <p class="thread-row__latest">
        {% if thread.last_replier %}
            <span class="row-label">Last reply</span>
            {% include 'forums/_person.html' with person=thread.last_replier %}
            <a class="thread-row__when" href="{% url 'thread_detail' thread.id %}?page=last">{{ thread.last_activity|when }}</a>
        {% else %}
            <span class="quiet">No replies yet</span>
        {% endif %}
    </p>
</li>
