{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="p-3">
        <div class="pb-3 d-flex justify-content-between">
            <div>
                {% if perms.forums.add_forum %}
                    <a href="{% url 'forum_add' %}" class="btn btn-outline-secondary">New forum</a>
                {% endif %}
            </div>
            <ul class="navbar-nav ml-auto">
                <div class="font-weight-light p-1">

                    <form action={% url 'search_results' %} method='get' class="form-inline ml-auto">
                        {{ form|crispy }}
                    </form>
                </div>
            </ul>

        </div>


        <div>
            {% for forum in forum_list %}
                <a href="{% url 'forum_detail' forum.id %}"
                   class="list-group-item list-group-item-action list-group-flush">
                    <div class="bg-info text-white rounded p-3 border border-dark">
                        <h3>{{ forum.title }}</h3>
                    </div>
                    <div class="p-3 pb-3">
                        <i>{{ forum.description }}</i>
                    </div>
                    <p class="p-3 font-weight-lighter"><small>number of
                        threads: {{ forum.threads.all.count }}</small></p>

                </a>

            {% endfor %}
        </div>
    </div>
{% endblock %}