{% extends '_base.html' %}

{% block title %}Edit {{ forum.title }}{% endblock title %}

{% block content %}
    <p class="trail"><a href="{% url 'forum_detail' forum.id %}">{{ forum.title }}</a></p>
    <div class="page-head">
        <h1>Edit forum</h1>
    </div>
    <form class="form" method="post">
        {% csrf_token %}
        {{ form }}
        <div class="form__actions">
            <button class="button" type="submit">Save</button>
            <a class="button button--quiet" href="{% url 'forum_detail' forum.id %}">Cancel</a>
        </div>
    </form>
{% endblock content %}
