{% extends '_base.html' %}
{% load i18n %}

{% block title %}{% blocktranslate with title=post.thread.title %}Edit reply in {{ title }}{% endblocktranslate %}{% endblock title %}

{% block content %}
    {% include 'forums/_trail.html' with forum=post.thread.forum thread=post.thread only %}
    <div class="page-head">
        <h1>{% translate 'Edit reply' %}</h1>
    </div>
    <form class="form form--wide" method="post">
        {% csrf_token %}
        {{ form }}
        <div class="form__actions">
            <button class="button" type="submit">{% translate 'Save' %}</button>
            <a class="button button--quiet" href="{% url 'thread_detail' post.thread_id %}">{% translate 'Cancel' %}</a>
        </div>
    </form>
    {% include 'forums/_editor.html' %}
{% endblock content %}
