{% extends '_base.html' %}

{% block title %}Edit {{ thread.title }}{% endblock title %}

{% block content %}
    <p class="trail"><a href="{% url 'thread_detail' thread.id %}">{{ thread.title }}</a></p>
    <div class="page-head">
        <h1>Edit thread</h1>
    </div>
    <form class="form form--wide" method="post">
        {% csrf_token %}
        {{ form }}
        <div class="form__actions">
            <button class="button" type="submit">Save</button>
            <a class="button button--quiet" href="{% url 'thread_detail' thread.id %}">Cancel</a>
        </div>
    </form>
    {% include 'forums/_editor.html' %}
{% endblock content %}
