{% extends '_base.html' %}

{% block title %}New thread in {{ forum.title }}{% endblock title %}

{% block content %}
    {% include 'forums/_trail.html' with forum=forum only %}
    <div class="page-head">
        <h1>New thread</h1>
    </div>
    {% include 'forums/_posting_as.html' %}
    <form class="form form--wide" method="post">
        {% csrf_token %}
        {{ form }}
        <div class="form__actions">
            <button class="button" type="submit">Start thread</button>
            <a class="button button--quiet" href="{% url 'forum_detail' forum.id %}">Cancel</a>
        </div>
    </form>
    {% include 'forums/_editor.html' %}
{% endblock content %}
