{% extends '_base.html' %}
{% load when i18n %}

{% block title %}{% translate 'Delete thread' %}{% endblock title %}

{% block content %}
    {% include 'forums/_trail.html' with forum=thread.forum thread=thread only %}
    <div class="page-head">
        <h1>{% translate 'Delete this thread?' %}</h1>
    </div>
    <blockquote class="excerpt">
        <p class="excerpt__title">{{ thread.title }}</p>
        <p class="row__meta">
            {% include 'forums/_person.html' with person=thread.user %}
            <span>{{ thread.added|when }}</span>
        </p>
    </blockquote>
    <form class="form" method="post">
        {% csrf_token %}
        <p>{% translate "The thread and all its replies are deleted. They can't be brought back." %}</p>
        <div class="form__actions">
            <button class="button button--danger" type="submit">{% translate 'Delete thread' %}</button>
            <a class="button button--quiet" href="{% url 'forum_detail' thread.forum_id %}">{% translate 'Cancel' %}</a>
        </div>
    </form>
{% endblock content %}
