{% extends '_base.html' %}
{% load i18n %}

{% block title %}{% blocktranslate with title=forum.title %}New thread in {{ title }}{% endblocktranslate %}{% endblock title %}

{% block content %}
    {% include 'forums/_trail.html' with forum=forum only %}
    <div class="page-head">
        <h1>{% translate 'New thread' %}</h1>
    </div>
    {% include 'forums/_posting_as.html' %}
    <form class="form form--wide" method="post">
        {% csrf_token %}
        {{ form }}
        <div class="form__actions">
            <button class="button" type="submit">{% translate 'Start thread' %}</button>
            <a class="button button--quiet" href="{% url 'forum_detail' forum.id %}">{% translate 'Cancel' %}</a>
        </div>
    </form>
    {% include 'forums/_editor.html' %}
{% endblock content %}
