{% extends '_base.html' %}
{% load static %}
{% load martortags %}

{% block stylesheets %}
    {{ block.super }}
    {#    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>#}

    <link href="{% static 'plugins/css/semantic.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
    {#    <link href="{% static 'martor/css/martor.min.css' %}" type="text/css" media="all" rel="stylesheet"/>#}
    <link href="{% static 'css/darcula.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <style>
        .main-container {
            margin-top: 7em
        }
    </style>
{% endblock stylesheets %}


{% block content %}

        <style>
            .heading {
                padding-top: 70px;
                margin-top: 70px;
                margin-bottom: 30px;
            }
        </style>

    <div class="p-3 heading">
        <div class="pb-3">
            <a href="{% url 'forum_detail' thread.forum.id %}" class="btn btn-outline-secondary">Back to forum</a>
            {% if user.is_authenticated %}
                <a href="{% url 'post_add' thread.id %}" class="btn btn-outline-secondary float-right">Reply</a>
            {% endif %}
        </div>

        <div class="pb-3">
            {% if user.is_authenticated %}
                {% if subscribed %}
                    <a href="{% url 'thread_notification' thread.id %}"
                       class="btn btn-outline-secondary active">Subscribed</a>
                {% else %}
                    <a href="{% url 'thread_notification' thread.id %}" class="btn btn-outline-secondary ">Subscribe</a>
                {% endif %}
            {% endif %}
        </div>

        <div class="bg-info text-white rounded p-3 border border-dark">
            <h5>{{ thread.title }}</h5>
        </div>

        <div class="card bg-light mb-3">
            <div class="card-header"><strong></strong>
                <p class="card-text font-weight-lighter">
                    <i>
                        {% if thread.user.profile.first_name or thread.user.profile.last_name %}
                            On {{ thread.added }} - {{ thread.user.profile.first_name }}
                            {{ thread.user.profile.last_name }} wrote:</i>
                        {% else %}
                            On {{ thread.added }} - {{ thread.user }} wrote:</i>
                        {% endif %}

                </p>

            </div>
            <div class="card-body">

                <p class="card-text ">{{ thread.text|safe_markdown }}
                    {% if thread.user.profile.signature %}
                        <br><br>
                        {% for line in thread.user.profile.signature.splitlines %}
                            {{ line }}<br>
                        {% endfor %}
                        <a href="{{ thread.user.profile.web_site }}">
                            {{ thread.user.profile.web_site }}
                        </a>
                    {% endif %}
                </p>
            </div>
        </div>


        <div>
            {% for post in posts %}
                <div class="card bg-light ml-5 mb-3">
                    <div class="card-header">
                        {% if post.user.profile.first_name or post.user.profile.last_name %}
                            On {{ post.added }} - {{ post.user.profile.first_name }}
                            {{ post.user.profile.last_name }} wrote:
                        {% else %}
                            On {{ post.added }} - {{ post.user }} wrote:
                        {% endif %}
                        <!-- Show delete button if user is thread starter -->
                        {% if user.is_authenticated %}
                            {% if post.user == user or perms.forums.delete_post %}
                                <a href="{% url 'post_delete' thread.id post.id %}"
                                   class="btn btn-outline-secondary float-right">Delete post</a>
                            {% endif %}
                        {% endif %}
                    </div>


                    <div class="card-body">
                        <p class="card-text">{{ post.text|safe_markdown }}
                        {% if post.user.profile.signature %}
                        <br><br>
                        {% for line in post.user.profile.signature.splitlines %}
                            {{ line }}<br>
                        {% endfor %}
                        <a href="{{ post.user.profile.web_site }}">
                            {{ post.user.profile.web_site }}
                        </a>
                    {% endif %}
                        </p>
                    </div>

                    <div class="ml-auto p-2">
                        <!-- TBD Don't show upvote button for the users own posts -->
                        {% if user.is_authenticated %}
                            {% if post.user != user %}
                                <a href="{% url 'post_upvote' thread.id post.id %}"
                                   class="btn btn-outline-secondary  p-1">+</a>
                            {% endif %}

                        {% endif %}
                        upvotes: {{ post.upvotes }}

                    </div>

                </div>

            {% endfor %}
        </div>


    </div>

{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
    <style>
        blockquote {
            padding: 10px 20px;
            font-weight: 300;
            font-size: 1.0em
            background-color: hsla(0, 0%, 50%, .05);
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-left: 8px solid hsla(0, 0%, 50%, .075);
            border-left-width: 10px;
            margin-bottom: 20px;
        }

        :not(pre) > code {
            font-size: .8em;
            white-space: nowrap;
            color: #c25;
            padding: 1px 3px;
            background-color: #f7f7f9;
            border: 1px solid #e1e1e8;
            border-radius: 3px
        }

        body {
            font-size: 1.1em;
        }
    </style>
    <script type="text/javascript" src="{% static 'plugins/js/semantic.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
    <script>
        $('pre').each(function (i, block) {
            hljs.highlightBlock(block);
        });
        $('.ui.dropdown').dropdown();
    </script>
{% endblock javascripts %}