{% extends '_base.html' %}
{% load static markdown when %}

{% block title %}{{ thread.title }}{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/thread.css' %}">
{% endblock stylesheets %}

{% block content %}
    {% include 'forums/_trail.html' with forum=thread.forum only %}
    <p class="kicker">{% if thread.announcement %}Announcement{% else %}Thread{% endif %}</p>
    <h1 class="thread-title">{{ thread.title }}</h1>

    <article class="post post--opening" id="opening">
        <header class="post__head">
            {% include 'forums/_person.html' with person=thread.user %}
            <time datetime="{{ thread.added|date:'c' }}" title="{{ thread.added }}">{{ thread.added|when }}</time>
            <span class="post__tag">Opening post</span>
            <a class="post__number" href="#opening">#1</a>
        </header>
        <div class="post__body">
            <div class="prose">{{ thread.text|render_markdown }}</div>
            {% include 'forums/_signature.html' with profile=thread.user.profile only %}
        </div>
    </article>

    {% include 'forums/_thread_actions.html' with page=posts %}

    <section class="replies" aria-labelledby="replies-heading">
        <h2 class="replies__heading" id="replies-heading">
            {% if posts.paginator.count %}
                {{ posts.paginator.count }} repl{{ posts.paginator.count|pluralize:"y,ies" }}
            {% else %}
                No replies yet
            {% endif %}
        </h2>

        {% include 'forums/_pages.html' with request=request page=posts label='Pages of replies' previous='Earlier replies' next='Later replies' only %}

        {% for post in posts %}
            {# Numbered on from the opening post (#1), across pages #}
            {% with number=forloop.counter|add:posts.start_index %}
                <article class="post" id="post-{{ post.id }}">
                    <header class="post__head">
                        {% include 'forums/_person.html' with person=post.user %}
                        <time datetime="{{ post.added|date:'c' }}" title="{{ post.added }}">{{ post.added|when }}</time>
                        <a class="post__number" href="?page={{ posts.number }}#post-{{ post.id }}">#{{ number }}</a>
                    </header>
                    <div class="post__body">
                        <div class="prose">{{ post.text|render_markdown }}</div>
                        {% include 'forums/_signature.html' with profile=post.user.profile only %}
                        <div class="post__foot">
                            {% if post.upvotes %}<span class="votes">{{ post.upvotes }} upvote{{ post.upvotes|pluralize }}</span>{% endif %}
                            {% if post.id in voted %}
                                <span class="votes__mine">You upvoted</span>
                            {% elif post.user != user %}
                                <form method="post" action="{% url 'post_upvote' thread.id post.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="page" value="{{ posts.number }}">
                                    <button class="button button--quiet button--small" type="submit">+1</button>
                                </form>
                            {% endif %}
                            {% if post.user == user or perms.forums.delete_post %}
                                <a class="post__delete" href="{% url 'post_delete' thread.id post.id %}">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </article>
            {% endwith %}
        {% endfor %}

        {% include 'forums/_pages.html' with request=request page=posts label='Pages of replies' previous='Earlier replies' next='Later replies' only %}
    </section>

    {% if posts.paginator.count %}
        {% include 'forums/_thread_actions.html' with page=posts %}
    {% endif %}

    <p class="thread-back"><a href="{% url 'forum_detail' thread.forum_id %}">Back to {{ thread.forum.title }}</a></p>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <script src="{% static 'js/highlight.min.js' %}"></script>
    <script src="{% static 'js/thread.js' %}"></script>
{% endblock javascripts %}
